PORT=3002
MONGODB_URI=mongodb://root:rootpass@mongo:27017/pncoaching?authSource=admin

JWT_SECRET=dev_super_secret_change_me
JWT_ISSUER=pn-auth
JWT_AUDIENCE=pn-admin

ALLOWED_ORIGINS=http://localhost:8080
NOTIFICATION_SERVICE_URL=http://notification:3003

UPLOAD_DIR=uploads

